* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(/portBgr1.jpg);
  background-position: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 60%;
  height: 75px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(38, 39, 39, 0.701);
  border-radius: 25px;
  clear: both;
}

.logo {
  width: 200px;
  float: left;
  height: 70px;
}

.initials {
  color: #cbcbcb;
  font-family: "Playwrite CA", cursive;
  font-size: 30px;
  padding-left: 30px;
  float: left;
  padding-top: 20px;
  white-space: nowrap;
}

.navLinks {
  width: 400px;
  float: left;
  height: 70px;
}

.navLinks ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Playwrite CA", cursive;
}

.navLinks ul li {
  list-style: none;
  margin-left: 62px;
  font-size: 35px;
}

.navLinks ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.navLinks a:hover {
  color: rgb(101, 68, 101);
}

.content {
  display: flex;
  margin: auto;
  width: 80%;
  height: 70%;
  justify-content: center;
}
