* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(/portBgr1.jpg);
  background-position: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 60%;
  height: 75px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(38, 39, 39, 0.701);
  border-radius: 25px;
  clear: both;
}

.logo {
  width: 200px;
  float: left;
  height: 70px;
}

.initials {
  color: #cbcbcb;
  font-family: "Playwrite CA", cursive;
  font-size: 30px;
  padding-left: 30px;
  float: left;
  padding-top: 20px;
  white-space: nowrap;
}

.navLinks {
  width: 400px;
  float: left;
  height: 70px;
}

.navLinks ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-family: "Playwrite CA", cursive;
}

.navLinks ul li {
  list-style: none;
  margin-left: 62px;
  font-size: 35px;
}

.navLinks ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.navLinks a:hover {
  color: rgb(101, 68, 101);
}

.content {
  font-family: "Outfit", sans-serif;
  display: flex;
  margin: auto;
  margin-top: 25px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 70%;
  justify-content: center;
  background-color: rgba(38, 39, 39, 0.701);
  border-radius: 25px;
}

#welcomeText {
  float: left;
  width: 70%;
}

#welcomeText p {
  color: white;
  font-size: 45px;
}

#welcomeText h1 {
  color: white;
  font-size: 70px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

#welcomeImage {
  margin: auto;
  display: flex;
  float: right;
  justify-content: right;
  width: 30%;
}

#welcomeImage img {
  border-radius: 25px;
}

#projects {
  color: white;
  width: 90%;
  height: 90%;
}

#projects h1 {
  font-size: 40px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
}

.column {
  width: 33.33%;
  padding: 10px;
  float: left;
  text-align: center;
}

.column h2 {
  text-decoration: underline;
  font-size: 35px;
}

.column p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.column li {
  margin-bottom: 10px;
  font-size: 20px;
}

footer {
  color: #cbcbcb;
  font-family: "Playwrite CA", cursive;
  margin: auto;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 80%;
}
