* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(/portBgr1.jpg);
  background-position: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.logo {
  width: 200px;
  float: left;
  height: 70px;
}

.initials {
  color: #cbcbcb;
  font-size: 35px;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
